.chatRoomContainer{
    padding-top: 0;
    background: white;
    height: 90%;
}

.chatRoomHeader{
    height: 10%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.roomInfo{
    align-items: center;
    text-align: center;
}

.numMembers{
    font-size: 20px;
    color: #555;

}

.messageBox{
    position: absolute;
    width: 95%;
    height: 60px;
    bottom: 20px;
}

.messageBox .formInner{
    position: relative;
    z-index: 2;
    background: white;
    height: 60px;

}

.messageBox .formInner input[type = "text"] {
    padding: 10px 15px;
    background: #EEE;
    border-radius: 8px;
    width: 80%;
    display: table-cell;
    float: left;
}

.messageBox .formInner input[type="submit"]{
    padding-top: 1%;
    padding-left: 5%;
}

.icon {
    position: absolute;
    width: 80px;
    height: 60px;
    cursor: pointer;
    left:4%
}

.arrow {
    position: absolute;

    top: 25px;
    width: 50%;
    height: 10px;
    background-color: #BBB;
    /*box-shadow: 0 3px 5px rgba(0, 0, 0, .2);*/
    animation: arrow 700ms linear infinite;
}

.arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 10px;
    right: 20px;
    background-color: #BBB;
}

.arrow::after {
    top: -7px;
    transform: rotate(-45deg);
}

.arrow::before {
    top: 7px;
    /*box-shadow: 0 3px 5px rgba(0, 0, 0, .2);*/
    transform: rotate(45deg);
}